body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

body {
  padding-top: 10px;
  background-color: #D4D5D7;
}

table {
  border: 16px #5a2a08 solid;
  width: 1000px;
}

td, th {
  border: 3px #ca7d45 solid;
  height: 35px;
}

td.separater { border-bottom: 16px #5a2a08 solid; }

.tama.icon {
  color: #722f00;
  position: absolute;
  margin-top: -20px;
  margin-left: 43px;
  width: 35px;
  height: 35px;
  background-color: currentColor;
  border: solid 3px currentColor;
  border-radius: 18px 0px 18px 0;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  transition: all 300ms 0s ease;
}

.tama.icon:after {
  content: '';
  color: #d2691e;
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: currentColor;
  border-radius: 18px 0px 18px 0;
}

.tama.icon:hover {
  background: #ccc;
  margin-top: -60px;
}